.paragrafo {color: rgb(203, 103, 233)}
.titulo {
    background-color: rgb(226, 152, 255);
        color: rgb(255, 255, 255);
            padding: 24px 0;
                margin: 0 16px;
                    font-size: 25px;
                    }